doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Custom Objects: Bike form
        form.formular-wrapper (action="/" method="POST")
        // my properties are bike_name, brand, frame_size
        label(for="bike_name") E-Mail:
        input.input(type="text" name="bike_name" required)
        label(for="brand") E-Mail:
        input.input(type="text" name="brand" required)
        label(for="frame_size") E-Mail:
        input.input(type="number" name="frame_size" required)

        button.btn(type="submit") Send
        a(href="http://localhost:3000") Return to the homepage

